{% extends "base.html" %}
{% block content %}
<h2 class="text-warning">{{ title }}</h2>
<form method="post" enctype="multipart/form-data" class="bg-dark p-4 rounded border border-info">
    {% csrf_token %}
    <div class="mb-3">
        <label class="form-label">Name</label>
        {{ form.name }}
    </div>
    <div class="mb-3">
        <label class="form-label">Bio</label>
        {{ form.bio }}
    </div>
    <div class="mb-3">
        <label class="form-label">Profile Image</label>
        {{ form.profile_img }}
    </div>
    <div class="mb-3">
        <label class="form-label">Movies</label>
        {{ form.movies }}
    </div>
    <button type="submit" class="btn btn-warning">Save</button>
</form>
{% endblock %}